// UNAUTH PAGE
#log_in_btn {
  position: absolute;
  top: 100px;
  left: 50%;
  padding: 10px 15px;
  margin-left: -32px;
  background: #4479BA;
  color: #FFF;
  border: 1px solid rgba(228, 228, 228, 0.76);

  &:hover { background: #386397; }
  i.fa-vk { font-size: 30px; line-height: 42px; }
}
// END

// SEARCH
.empty-results { display: none; }
.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after { clear:both; }
.form-wrapper {
  position: absolute;
  top: 66px;
  left: 50%;
  margin-left: -235px;
  width: 470px;
  padding: 5px;
  background: #444;
  background: rgba(112,112,112,.2);
}
.form-wrapper .fa-search {
  position: absolute;
  top: 18px;
  left: 12px;
  color: #999;
}
.form-wrapper input {
  @include border-radius(4px);
  width: 100%;
  height: 40px;
  padding: 10px;
  padding-left: 25px;
  float: left;
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #eee;
  color: #575757;

  &:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  }
  &::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  &:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
  &:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  }
}

.loading-circle {
  background: url(image_path('loading_circle_gray.gif'));
  width: 50px;
  height: 50px;
  position: absolute;
  top: 3px;
  right: 10px;
  z-index: 9999;
  display: none;
}

// CONTENT
.content {
  padding-top: 136px;
  padding-bottom: 40px;
  height: 100%;
}

.audio_content {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  height: 100%;
  background-color: #f8f8f8;

  .row, .main-box, .playlist-box, .col-xs-8, .col-xs-4 {
    height: 100%;
  }
  .box-header {
    position: absolute;
  }
  .main-box, .playlist-box {
    padding-top: 40px;
  }
  .main-box ul, .playlist-box ul {
    list-style: none;
    text-align: left;
    padding: 0 10px 0 0;
    height: 100%;
    overflow-y: auto;

    li { position: relative; }
    li a {
      @include box-shadow(0px 1px 2px 0 rgb(224, 224, 224));
      background-color: #fff;
      padding: 10px;
      margin-bottom: 3px;
      cursor: pointer;
      color: #292929;
      width: 100%;
      display: block;

      .fa-volume-down {
        position: absolute;
        right: 16px;
        margin-top: -19px;
        font-size: 20px;
        color: rgb(153, 153, 153);
        display: none;
      }
    }
    li a:hover, li.active a {
      background-color: rgba(202, 197, 255, 0.22);
      text-decoration: none;
    }
    li.active a .fa-volume-down { display: block; }
    li .ajax-loader-horizontal {
      display: block;
      background: url(image_path('ajax-loader_horizontal.gif'));
      margin: 15px auto;
      width: 16px;
      height: 11px;
    }
  }
}
