html, body { height: 100%; }
body {
  background: #FFF asset-url('bg.png');
  margin-top: 10px;
}

.container {
  height: 100%;
  margin: 0 auto;
}

.content {
  height: 100%;
  text-align: center;
}

ul { list-style: none; }
